@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

:root {
    --cor0: #DAA3F0;
    --cor1: #C35AED;
    --cor2: #9947BA;
    --cor3: #5A2A6E;
    --cor4: #500070;
    --cor5: #1a0024;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", cursive;

}



* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vw;
    height: 100vh;
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
}


header {
    width: 100%;
    height: 20%;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px 3px 10px 3px #1a00248f;
}

header>h1 {
    font-family: var(--fonte-destaque);
    color: white;
    text-shadow: #1a0024;
    font-weight: normal;
    font-size: 3em;
    text-shadow: 2px 2px 0px #1a002491;
}

main {

    width: 85%;
    height: 70%;
    position: absolute;
    top: 20%;
    right: 0;
    left: 0;
    margin: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 10px #1a00247c;
}



footer {
    position: absolute;
    width: 100%;
    height: 3%;
    border: 1px solid black;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100%;
    background-color: var(--cor5);
    color: white;
}

button {
    margin-bottom: 10px;
    margin-top: 10px;
    width: 70px;
    height: 47px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #9170a0;
    font-family: var(--fonte-padrao);
    font-weight: lighter;
    color: white;
    border: none;
    border-radius: 8px;
    font-size: 10px;
}

button:hover{
    background-image: linear-gradient(to left, var(--cor2), var(--cor1),
    var(--cor1), var(--cor1), var(--cor2));
}

a {
    text-decoration: none;

}

.div2 {
  left: 20vw;
}

div {

    /* border: 1px solid black; */
    /* width: 95px; */
    display: inline-block;
    position: absolute;
    /* margin-left: 22px;
    margin-right: 20px; */
    margin-left: 3.5vw;
}

.div3 {
    left: 40vw;
}

.div4{
    left: 60vw;
}