@charset "UTF-8";

* {

    margin: 0;

    padding: 0;
    box-sizing: border-box;

}





:root {
    --cor0: #DAA3F0;
    --cor1: #C35AED;
    --cor2: #9947BA;
    --cor3: #5A2A6E;
    --cor4: #500070;
    --cor5: #1a0024;

    --fonte-padrao: arial, verdana, helvetica, sans-serif;
    --fonte-destaque: "Bebas Neue", cursive;

}

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    max-width: 100vw;
    height: 100vh;
    font-size: 75%;
}

header {
    width: 100%;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: linear-gradient(to bottom, var(--cor3), var(--cor5));
    box-shadow: 3px 3px 10px 3px #1a00248f;
}

header>h1 {
    font-family: var(--fonte-destaque);
    color: white;
    text-shadow: #1a0024;
    font-weight: normal;
    font-size: 3em;
    text-shadow: 2px 2px 0px #1a002491;
}

main {
    margin: auto;
    background-color: blue;
    width: 85%;
    height: 75%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    align-content: center;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    background-color: white;
    box-shadow: 0px 0px 10px #1a00247c;
}

main div {
    display: flex;
    justify-content: center;
    align-items: center;
    /* width: 20vw; */
    width: 30vw;
    height: 4.3vh;
    /* height: 3vh; */
    border: 0.5vw solid black;
    margin: 0.3vw;
    padding: 1vw;
    background-color: aqua;
    font-size: 75%;
    background-color: #9170a0;
    color: white;
}

main div:hover{
    background-image: linear-gradient(to left, var(--cor2), var(--cor1),
    var(--cor1), var(--cor1), var(--cor2));
}

a {
    text-decoration: none;
}

footer {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--cor5);
    color: white;
    position: absolute;
    width: 100%;
    bottom: 0;
}